@tailwind base;
@tailwind components;
@tailwind utilities;


.text{
  color: white;
}
.listItem{
  border-radius: 0px 20px 20px 0 !important;

}
.listItem.Mui-selected .text{
  color: #18181B !important;
}

.listItem.Mui-selected .MuiSvgIcon-root{
  color: #18181B !important;
}


.listItem.Mui-selected{
  background-color: #e2e6e9 !important;
}

.quill{
  height: 80%
}